<div class='container'>
  <nav id='filters-bar'>
    <ul>
      <li><span id='list-categories' class='glyphicon glyphicon-th-large'></span></li>
      <li><span id='list-subjects'   class='glyphicon glyphicon-file'></span></li>
      <li><span id='search-subjects' class='glyphicon glyphicon-search'></span></li>
      <li><span id='show-timetables' class='glyphicon glyphicon-user'></span></li>
    </ul>
  </nav>
  <div id='main-content'>
      
    <div id='main-sidebar'>
      <div id='sidebar-heading'>
        <h2><span class='glyphicon glyphicon-arrow-left'></span>
            <span id='sidebar-heading-content'>Common general subjects</span>
        </h2>
      </div>
      <p id='search-field' class='hidden'>
      <span class='glyphicon glyphicon-search'></span>
      <input type="text" name="search-box" id="search-box">
      </p>

      <div id='sidebar-subjects'>
        <ul id='list-items'>
          <!-- <li><span class='glyphicon glyphicon&#45;folder&#45;open orange'></span> History and Culture</li> -->
          <!-- <li><span class='glyphicon glyphicon&#45;folder&#45;open green'></span> Religion</li> -->
          <!-- <li><span class='glyphicon glyphicon&#45;folder&#45;open purple'></span> Math</li> -->
        </ul>
      </div>
    </div>

    <div id='main-timetable'>
      <div id='timetable-heading'>
        <h1>Current Timetable</h1>
      </div>
      <table id='timetable'>
        <tr class='week-day'>
          <th class='lesson-id'></th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
        </tr>
        <tr>
          <th>1</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>2</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>3</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>4</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>5</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>6</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
