<div class='container'>
  <nav class='nav'>
    <ul>
      <!-- <li><span id='list_category'></span></li> -->
      <li><span class='glyphicon glyphicon-search'></span></li>
      <li><span class='glyphicon glyphicon-eur'></span></li>
      <li><span class='glyphicon glyphicon-search'></span></li>
      <li><span class='glyphicon glyphicon-th-large'></span></li>
      <li><span class='glyphicon	glyphicon-ok'></span></li>
      <li><span id='list_subject'></span></li>
      <li><span id='search'></span></li>
      <li><span id='timetable'></span></li>
    </ul>
  </nav>
  <div class='sidebar'>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
    <p>hello 1</p>
  </div>
</div>
