@import "bootstrap-sprockets";
@import "bootstrap";




@font-face {
  font-family: 'Roboto-Light';
  src:url('Roboto-Light.eot');
  src:url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Light.svg#Roboto-Light') format('svg'),
    url('Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* layout */
/* typography */
/* main sidebar */
/* main timetable */
/* main syllabus */


/* generic style */
body {
  font-family: 'Roboto-Light';
  font-size: 1.5rem;
  background-image: image-url('bg.jpg');
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h2 {
  color: #777;
  font-size: 3rem;
}


.container {
  background-color: #e1e0e0;
  border-top: 32px solid #0288d1;
  margin: auto;
  margin-top: 20px;
  padding: 0;
  height: 608px;
  width: 1024px;
}
span.glyphicon {
  color: #777;
  font-size: 2.25rem;
}


/* nav filter */
nav#filters-bar {
  /* border: 1px solid #000; */
  margin-bottom: 0;
}
nav#filters-bar ul {
  list-style-type: none;
  padding: 0;
  /* border: 1px solid #000; */
  margin: 20px 0;
  margin-left: 34px;
}
nav#filters-bar ul li {
  float: left;
  /* border: 1px solid red; */
  margin-right: 50px;
}

/* main content */
div#main-content {
  margin: 0;
  height: 509px;
}


/* main sidebar */
div#main-sidebar {
  float: left;
  width: 348px;
  height: 509px;
}
div#sidebar-heading {
  height: 64px;
}
div#sidebar-heading h2 {
  line-height: 64px;
}
div#sidebar-heading span.glyphicon {
  margin-right: 10px;
}
div#sidebar-content {
  border-top: 1px solid #fff;
}
div#sidebar-search {
  margin: 20px 20px;
  position: relative;
}
div#sidebar-search span {
  font-size: 1.75rem;
  position: absolute;
  left: 5%;
  top: 25%;
}
div#sidebar-search input {
  display: block;
  padding-left: 45px;
  height: 35px;
  width: 100%;
}
div#sidebar-items {
  /* background-color: green; */
  overflow: auto;
}
div#sidebar-items ul#list-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div#sidebar-items ul#list-items li {
  margin-top: 20px;
  padding: 0;
  padding-left: 25px;
  position: relative;
}
ul#list-items li div#list-item-content {
  display: inline-block;
  margin-left: 50px;
  line-height: 1;
}
ul#list-items li span.glyphicon {
  color: #fff;
  font-size: 1.75rem;
}
ul#list-items li span.icon-right {
  font-size: 1.5rem;
  color: #ccc;
  position: absolute;
  top: 45%;
  right: 5%;
}
ul#list-items li span.left {
  line-height: 35px;
  position: absolute;
  top: 20%;
}
ul#list-items li span.icon {
    line-height: 35px;
}
ul#list-items li > p {
  display: inline-block;
  margin-left: 10px;
}
ul#list-items li p.subject-name {
}
ul#list-items li p.subject-details {
  color: #777;
  font-size: 1.25rem;
  line-height: 1.25;
}


/* main info */
div#main-info {
  background: #fff;
  float: left;
  height: 512px;
  width: 625px;
  border-left: 1px solid #eee;
}
div#info-heading {
  background-color: #039be5;
  height: 64px;
  position: relative;
}
div#info-heading h2 {
  color: #fff;
  line-height: 64px;
  padding-left: 30px;
}
div#info-content {
  margin: 20px 20px 0 20px;
}



/* timetable */
table#timetable th,
table#timetable td {
  border: 1px solid #ccc;
  text-align: center;
}
table#timetable tr.weekday {
  height: 32px;
  background-color: #ccc;
}
table#timetable tr {
  height: 58px;
}
table#timetable th {
  width: 90px;
  font-weight: bold;
}
table#timetable th.lesson-id {
  width: 7.5%;
}


/* subject-info */
div#info-heading > span {
  border: 1px solid #eee;
  position: absolute;
  top: 70%;
  right: 5%;
}
div#info-heading h2 {
  position: relative;
}
div#info-heading h2 > span {
  color: #fff;
  position: absolute;
  right: 5%;
  top: 30%;
}
div#info-content {
}
div#info-content img {
  float: left;
  position: relative;
}
div#info-summary {
  float: left;
  margin-left: 20px;
}
div#info-summary h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 10px;
}
div#info-summary p {
  font-size: 1.35rem;
  margin: 0;
}
div#read-syllabus {
  margin-top: 40px;
  margin-left: 40%;
}

.myButton {
	-moz-box-shadow:inset 0px 39px 0px -24px #e84037;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e84037;
	box-shadow:inset 0px 39px 0px -24px #e84037;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #e8232c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}


button {
  /* display: inline-block; */
  /* margin: 0 10px 0 0; */
  /* padding: 15px 45px; */
  /* font-size: 48px; */
  /* font-family: "Bitter",serif; */
  /* line-height: 1.8; */
  /* appearance: none; */
  /* box-shadow: none; */
  /* border-radius: 0; */
}

/* generic class */
.hidden { display: none; }
.bg-white { background-color: #fff; }
.icon-left {
  border-radius: 50%;
  font-size: 2rem;
  width: 35px;
  height: 35px;
  text-align: center;
}
.bg-white {
  background-color: #fff;
}
.height-445 {
  height: 445px !important;
}
.height-370 {
  height: 370px !important;
}



/* generic class */
.blue { background-color: #2196f3; }
.green { background-color: #2baf2b; }
.orange { background-color: #f9ce1d; }
.purple { background-color: #d81b60; }
.red { background-color: #e51c23; }
.tomato { background-color: tomato; }
.lightblue { background-color: lightblue; }
.white { background-color: #fff; }
.blueviolet { background-color: #8A2BE2; }
.brown { background-color: #A52A2A; }
.burlywood { background-color: #DEB887; }
.cardetblue { background-color: #5F9EA0; }
.chocolate { background-color: #D2691E; }
.cornflowerblue { background-color: #6495ED; }
.darkolivegreen { background-color: #556B2F; }

/* clearfix */
.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */
